name = "dhamen-api"
account_id = "6435a77d3ce17b7de468c6618e7b2b14"
main = "src/index.ts"
compatibility_date = "2024-12-01"
compatibility_flags = ["nodejs_compat"]

[observability]
enabled = true

[vars]
ENVIRONMENT = "development"
API_VERSION = "v1"
JWT_ISSUER = "dhamen"
JWT_EXPIRES_IN = "900"
REFRESH_EXPIRES_IN = "86400"

[[d1_databases]]
binding = "DB"
database_name = "dhamen-db"
database_id = "83076129-b19e-49e9-a77c-6668252d38cc"
migrations_dir = "../../packages/db/migrations"

[[kv_namespaces]]
binding = "CACHE"
id = "22194f538ced43e7aba76bc0c4dfbaaa"

[[r2_buckets]]
binding = "STORAGE"
bucket_name = "dhamen-files"

# Staging environment
[env.staging]
vars = { ENVIRONMENT = "staging" }

[[env.staging.d1_databases]]
binding = "DB"
database_name = "dhamen-db"
database_id = "83076129-b19e-49e9-a77c-6668252d38cc"

[[env.staging.kv_namespaces]]
binding = "CACHE"
id = "22194f538ced43e7aba76bc0c4dfbaaa"

[[env.staging.r2_buckets]]
binding = "STORAGE"
bucket_name = "dhamen-files"

# Production environment (à créer séparément)
[env.production]
vars = { ENVIRONMENT = "production" }

[[env.production.d1_databases]]
binding = "DB"
database_name = "dhamen-db"
database_id = "83076129-b19e-49e9-a77c-6668252d38cc"

[[env.production.kv_namespaces]]
binding = "CACHE"
id = "22194f538ced43e7aba76bc0c4dfbaaa"

[[env.production.r2_buckets]]
binding = "STORAGE"
bucket_name = "dhamen-files"
